@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
  background-color: #0B0F0E;
}

body {
  font-family: 'Inter', sans-serif;
  color: white;
  background-color: #0B0F0E;
}

/* Nascondi la scrollbar per lo scroll orizzontale su TechStack */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}